﻿@model Sauron.Application.ViewModel.Funcionalidade.AlterarFuncionalidadeViewModel

@{
    ViewData["Title"] = "AlterarFuncionaliade";
}

<h2>AlterarFuncionaliade</h2>

<h4>AlterarFuncionalidadeViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AlterarFuncionaliade">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
