﻿@model IEnumerable<Sauron.Application.ViewModel.Funcionalidade.DetalhesDaFuncionaliadeViewModel>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="NovaFuncionaliades">Nova Funcionalidade</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ativo)
            </td>
            <td>
                @Html.ActionLink("Editar", "AlterarFuncionaliade", new {id=item.Id}) |
                @Html.ActionLink("Remover", "RemoverFuncionaliade", new {id=item.Id})
            </td>
        </tr>
}
    </tbody>
</table>

<form asp-action="RemoverFuncionaliade" methosd="post" id="formExcluir">
    <input type="hidden" name="id" id="id" />
</form>

@section Scripts
{
    <script>
        function RemoverFuncioanlidade(id) {
            var form = $("#formExcluir");
            $("#id").val(id);
            form.submit();
        }
    </script>
}
